global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka-exporter:9308']
  - job_name: 'app'
    static_configs:
      - targets: 
          - 'app1:8000'
          - 'app2:8000'
          - 'app3:8000'
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
