global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka-exporter:9308']
  - job_name: 'producer'
    static_configs:
      - targets: ['producer:8001']
  - job_name: 'consumer'
    static_configs:
      - targets: ['consumer:8002']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
